
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#header{
    text-align: center;
}
#clearButton{
    margin: 30px auto;
	border-radius: 20px;
	font-size: 20px;
	font-weight: bold;
	padding: 5px 20px;
	border: 4px solid black;
	outline: none;
}
.container{
    border: 5px solid black;
    height: 600px;
    width:   600px;
}
.grid{
    border: 1px solid balck;
    display: inline-block;
    margin-top:none ;
    box-sizing: content-box;
}